/*
Font Family de pierrealainfaure.com
*/

@font-face {
    font-family: 'Abel';
    src: url('./assets/fonts/Abel-Regular.ttf') format('truetype');
  }

@font-face {
  font-family: 'SpaceMono-Bold';
  src: url('./assets/fonts/SpaceMono-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'SpaceMono-BoldItalic';
  src: url('./assets/fonts/SpaceMono-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'SpaceMono-Italic';
  src: url('./assets/fonts/SpaceMono-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'SpaceMono-Regular';
  src: url('./assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
}